".text.html":
  "Firebase Document":
    "prefix": "firebase-document"
    "body": """
      <firebase-document
        app-name="${1:<YOUR-FIREBASE-APP>}"
      	path="/${1:<PATH>}"
      	data="{{${2:object}}}">
      </firebase-document>$0
    """
