".text.html":
  "Firebase Auth":
    "prefix": "firebase-auth"
    "body": """
      <firebase-auth
        id="${1:auth}"
        app-name="${2:<YOUR-FIREBASE-APP>}"
        user="{{${3:user}}}"
        status-known="{{${4:statusKnown}}}"
        signed-in="{{${5:statusKnown}}}"
      	provider="${6:\\{\\{${7:provider\\}\\}}"
      	on-error="${8:_authOnError}">
      </firebase-auth>$0
    """
