".text.html":
  "Polymer Element":
    "prefix": "polymer-element"
    "body": """
    $0
    <dom-module id="tm-$1">
      <template>
        <style>
          :host {
            display: block;
          }
        </style>${3}
      </template>
      <script>
        (function(Polymer) {
          Polymer({
            is: 'tm-${1}',
            properties: {
              ${2}: {
                type:String,
                notify:true
              }
            },
            observers: [
              'debug(${2})'
            ],
            debug: function(object) {
              console.log(object);
            },
            ready: function() {
              console.log('Element tm-${1} has been created.');
            }
          });
        })(window.Polymer);
      </script>
    </dom-module>
    """
